.background{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 15px;
    background-color: #;
}

.filtro{
    width: 20%;
}

.soli{
    margin-left: 15%;
}

.filtroLabel{
    margin-left: 37%;
}