.card-container{
    width: 900px;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    border-radius: 10px;
    margin-left: 15%;
    margin-top: 10px;

    /* background-color: #080622; */
}