@font-face {
    font-family: 'Montserrat';
    src: url(./assets/fonts/Montserrat-Regular.ttf);
}

*{
    font-family: 'Montserrat';
}

.ml-1{margin-left: 0.25rem;}
.ml-2{margin-left: 0.5rem;}
.ml-3{margin-left: 0.75rem;}
.ml-4{margin-left: 1rem;}
.ml-5{margin-left: 1.25rem;}