.side-links {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.side-bar {
    background-color: #000030;
}

.footer{
    margin-bottom: 20px;
    margin-left: 35px;
    position: absolute;
    bottom: 0;
}
