.side-links1 {
    position: absolute;
    color: #fff;
    text-decoration: none;;
    font-size: 22px;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    top: 10%;
}

.side-links2 {
    position: absolute;
    color: #fff;
    text-decoration: none;;
    font-size: 22px;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    top: 20%;
}

.side-links3 {
    position: absolute;
    color: #fff;
    text-decoration: none;;
    font-size: 22px;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    top: 30%;
}

.texto{
    display: flex;
    align-items: center;
    justify-content: center;
}

.side-bar {
    background-color: #000030;
}

.logo{
    display: flex;
    position: absolute;
    left: 22%;
    bottom: 1%;
}